mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+b.section-title.text-center
				h1.d-sm-none Перевірка серії паспорту
				p
					strong ВЗЯТИ ДО УВАГИ ДМС
					| визнано недійсними (анульовані)
					| бланки паспортів громадянина України, посвідок на постійне проживання, посвідок на тимчасове проживання
			.input-group.mb-2
				+e.INPUT.input.form-control.search-inp-js(type='number' placeholder="Номер (тільки цифри)")
				+e.btn.btn.btn-info.search-btn-js(type="button")
					img(loading="lazy" src="img/svg/zoom.svg" alt="")
			//-+input('Номер (тільки цифри)', 'number')(class='search-inp-js mb-2')
			+e.alert-box.alert-box-js.pt-2
			+e.info-content.pt-5.info-content-js
				+e.title БЛАНКИ ПАСПОРТІВ ГРОМАДЯНИНА УКРАЇНИ:
				+sContentBlock({
					series: 'ВК',
					title: `Серії <strong>ВК</strong>`,
					arr: [
						621219, 621220, 621214, 621217, 621218, 446009, 446008, 308353, 855738, 862398, 863947, 859590, 859586, 872030, 855353, 855356, 854512, 852379, 853493, 848461, 694462, 694461, 694463, 694464, 692832, 692834, 692831, 692835, 692833, 634559, 621215
					],
				})
				+sContentBlock({
					series: 'ВТ',
					title: `Серії <strong>ВТ</strong>`,
					arr: [
						'093441-093600', '096990-097000', '099001-099600', '005556', '063782'
					],
				})
				+sContentBlock({
					series: 'ЕТ',
					title: `Серії <strong>ЕТ</strong>`,
					arr: [
						'330184', '369290', '374816', '403563-403600', '406541-406600', '410174', '410756-410800', '410922-411000',
						'414161-414200', '414975-415000', '415190-415200', '415381-415400', '415741-415800', '416042-416200', '416341-416400',
						'416476-416600', '416767-417200', '417330-417400', '417513-417600', '417771-418200', '418267-418400', '418470-418600',
						'418799-419000', '419381-419600', '419853', '419861-420000', '420044420200', '420431-420800', '420942-421000', '421061-421415', '421417421569', '421571-421599', '421601-423054', '423056-423160', '423162423199', '423201-424200', '424601-424631', '424633-428900', '270892', '92121', '280969', '405971', '190800', '270992', '268419', '268500', '268561', '270823', '270865', '271000', '275401', '275543', '276601', '276800', '281824', '281838', '281882', '281894', '289021', '289181', '297003', '297026', '297061', '297084', '297100', '297844', '297853', '297905', '297916', '297924', '297934', '297963', '297976', '298001', '298024', '298034', '298163', '298175', '318437', '318441', '318442', '318465', '318521', '318570', '318600', '320012', '320025', '320042', '320100', '341601', '319184', '410177', '276682', '419790', '248881', '231558', '379405', '248882', '343980', '350170', '343982', '319029', '241109', '350024', '264623', '264617', '140305', '331271', '310183', '335684', '305996', '344851', '410566', '379402', '320171', '419803', '350109', '350110', '369291', '320173', '405971', '285304', '285307', '327389', '302786', '315339', '315338', '310196', '319024', '319053', '319026', '285310', '285305', '285306', '285303', '261837', '276773', '261836', '264622', '248869', '194940', '212996', '131800', '173254', '133133', '210551', '248879', '248880', '247827', '140368', '166155', '081966', '121725', '111645', '247828', '210550', '121726', '173255', '163564', '164641', '248878', '11647', '111646', '173785', '177113', '335621', '297098', '139644', '369290',
					],
				})
				+sContentBlock({
					series: 'CT',
					title: `Серії <strong>CT</strong>`,
					arr: [
						'080756', '201844', '201997'
					],
				})
				+sContentBlock({
					series: 'AP',
					title: `Серії <strong>AP</strong>`,
					arr: [
						'478259-478400', '478483-478600', '478701-478800', '478836-479000', '479001-482400', '276091-276100',
						'360521-360526', '374210', '374213', '374214', '376681', '376697', '404785', '388173', '404791-404793',
						'420569', '434245', '434246', '438612', '438613', '439972', '457267', '451964'
					],
				})
				+sContentBlock({
					series: 'ЕЕ',
					title: `Серії <strong>ЕЕ</strong>`,
					arr: [
						'641999'
					],
				})
				+e.title БЛАНКИ ПОСВІДОК НА ПОСТІЙНЕ ПРОЖИВАННЯ
				+sContentBlock({
					series: 'IH',
					title: `Серії <strong>IH</strong>`,
					arr: [
						'042824-044400', '044418-045000'
					],
				})
				+e.title БЛАНКИ ПОСВІДОК НА ТИМЧАСОВЕ ПРОЖИВАННЯ
				+sContentBlock({
					series: 'ТР',
					title: `Серії <strong>ТР</strong>`,
					arr: [
						'001917-002000', '067001-069600', '012676', '013800'
					],
				})
			+e.search-content.search-content-js.d-none
				+e.matches.search-matches-js.mb-4

				+e.show-default.show-default-js Показати перелік
	// end sContent

mixin sContentItem(Num)
	.col-auto
		+e.number.number-js=Num

mixin sContentItemOld(fromNum, toNum)
	.col-auto
		if fromNum & toNum
			+e.number(data-from-num=fromNum data-to-num=toNum)
				span=`${fromNum}-${toNum}`
		else
			+e.number(data-from-num=fromNum data-to-num=toNum)
				span=fromNum

mixin sContentBlock(data)
	+e.content-block.mb-5(data-series=data.series)
		+e.series-title!=data.title
		.row.gx-2.gy-2
			- for(let item of data.arr)
				+sContentItem(item)